body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #ffffff;
    color: white;
    /* padding: 20px; */
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header .logo {
    width: 80px;
}

.menubar ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;
    margin-top: 0;
}

.menu-button:hover{
    color: #003c71;
    background-color: yellow;
}

.menubar {
    background-color: #003c71;
}

.menu-button {
    color: #ffffff;
    font-weight: bold;
    padding: 1rem;
    transition: color 0.5s, background-color 0.5s;
    cursor: default;
    height: 100%;
    background-color: transparent;
    border-color: transparent;
    font-family: 'Nunito Sans';
    font-size: 16px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 3rem 1rem 3rem;

}

.header ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
    gap: 1rem;
}
.header li {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
}

.header li:hover {
    border-bottom: 2px solid #fff400;
}

.header-button {
    color: #003c71;
    font-weight: bold;
    text-decoration: unset;
    transition: color 0.5s;
    font-family: 'Nunito Sans';
    background-color: transparent;
    border-color: transparent;
    font-size: 16px;
}

#title {
    height: 400px;
    background-image: url(../images/bcit-big-info.png);
    color: #ffffff;
    text-align: left;
    padding-left: 20px;
    font-family:'DM Sans',Arial,sans-serif;
}

.title-container{
    padding-top: 150px;
}
.title-container h1{
    font-size: 54px;
    margin: 0;
    letter-spacing: 2.0px;
    font-weight: 500;
    
}

.title-container p{
    margin: 0;
    
}

.searches-container {
    display: flex;
    margin-top: 30px;
    justify-content: space-around; /* Distributes space between the search containers */
    width: 100%; /* Ensures the container takes full width of its parent */
}

.search-container {
    flex: 0 1 30%;
    margin: 0 10px;
    position: relative;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 15px 40px 15px 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding-right: 40px; /* Make space for the search icon */
    font-size: 16px;
    
}

button.search-button {
    position: absolute;
    right: 10px;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    height: 50px;
    width: 50px;
    /* transform: translateY(-0%); */
}

button.search-button img {
    width: 24px;
    height: 24px;
    display: block;
}
/* nav button {
    background-color: #007cba;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
} */

nav button:hover {
    background-color: #005f8b;
}

main {
    /* padding: 20px; */
    text-align: center;
}

main h2 {
    color: #003262;
    margin-bottom: 20px;
}

main section {
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.featured-course-container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    align-items: flex-start;
    /* flex-direction: row; */
    gap: 4rem;
}

.featured-instructor-container{
    display: flex;
    flex-direction: row;
    gap: 4rem;
}







.instructor-item{
    width: 20%; 
    min-height: 300px;
    /* background-color: #fff; */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    text-decoration: none;
}

.course-item {
    width: 20%; 
    min-height: 300px;
    /* background-color: #fff; */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    text-decoration: none;
}

.image-section-courseACIT1420 {
    background-image: url(../images/ACIT1420.jpg);
    background-size: cover;
    background-position: center;
    height: 140px; /* Half the total height you desire */
}

.image-section-courseACIT1515 {
    background-image: url(../images/ACIT1515.jpg);
    background-size: cover;
    background-position: center;
    height: 140px; /* Half the total height you desire */
}

.image-section-courseACIT1620 {
    background-image: url(../images/ACIT1620.jpg);
    background-size: cover;
    background-position: center;
    height: 140px; /* Half the total height you desire */
}


.image-section-courseACIT1630 {
    background-image: url(../images/ACIT1630.jpg);
    background-size: cover;
    background-position: center;
    height: 140px; /* Half the total height you desire */
}

.image-section-courseCOMM1116 {
    background-image: url(../images/COMM1116\ -\ BCOM1.jpg);
    background-size: cover;
    background-position: center;
    height: 140px; /* Half the total height you desire */
}

.image-section-courseMATH1310 {
    background-image: url(../images/MATH1310.jpg);
    background-size: cover;
    background-position: center;
    height: 140px; /* Half the total height you desire */
}

.image-section-courseORGB1100 {
    background-image: url(../images/ORGB1100.jpg);
    background-size: cover;
    background-position: center;
    height: 140px; /* Half the total height you desire */
}

.image-section-courseACIT2420 {
    background-image: url(../images/ACIT2420.jpg);
    background-size: cover;
    background-position: center;
    height: 140px; /* Half the total height you desire */
}

.image-section-courseACIT2620 {
    background-image: url(../images/ACIT2620.jpg);
    background-size: cover;
    background-position: center;
    height: 140px; /* Half the total height you desire */
}

.image-section-courseACIT2515 {
    background-image: url(../images/ACIT2515.jpg);
    background-size: cover;
    background-position: center;
    height: 140px; /* Half the total height you desire */
}


.image-section-courseACIT2520 {
    background-image: url(../images/ACIT2520.jpg);
    background-size: cover;
    background-position: center;
    height: 140px; /* Half the total height you desire */
}

.image-section-courseACIT2811 {
    background-image: url(../images/ACIT2811.jpg);
    background-size: cover;
    background-position: center;
    height: 140px; /* Half the total height you desire */
}

.image-section-courseACIT2831{
    background-image: url(../images/ACIT2831.jpeg);
    background-size: cover;
    background-position: center;
    height: 140px; /* Half the total height you desire */
}


.image-section-courseACIT2911 {
    background-image: url(../images/ACIT2911.jpg);
    background-size: cover;
    background-position: center;
    height: 140px; /* Half the total height you desire */
}


.image-section-courseACIT4770 {
    background-image: url(../images/ACIT4770.jpg);
    background-size: cover;
    background-position: center;
    height: 140px; /* Half the total height you desire */
}

.image-section-courseCOMM2216 {
    background-image: url(../images/COMM2216\ -\ BCOM2.jpg);
    background-size: cover;
    background-position: center;
    height: 140px; /* Half the total height you desire */
}

.image-section-courseMATH1350 {
    background-image: url(../images/MATH1350.jpg);
    background-size: cover;
    background-position: center;
    height: 140px; /* Half the total height you desire */
}

.image-section-instructorArmaanDhanji {
    background-image: url(../images/Armaan\ Dhanji.jpeg);
    background-size: cover;
    background-position: center;
    height: 140px; /* Half the total height you desire */
}

.image-section-instructorAyeshaAnzer {
    background-image: url(../images/Ayesha\ Anzer.jpeg);
    background-size: cover;
    background-position: center;
    height: 140px; /* Half the total height you desire */
}


.image-section-instructorYvesShema {
    background-image: url(../images/Yves\ Shema.jpeg);
    background-size: cover;
    background-position: center;
    height: 140px; /* Half the total height you desire */
}

.image-section-instructorChrisHarris {
    background-image: url(../images/Chris\ Harris.jpeg);
    background-size: cover;
    background-position: center;
    height: 140px; /* Half the total height you desire */
}

.image-section-instructorReenaAlias {
    background-image: url(../images/Reena\ Alias.jpg);
    background-size: cover;
    background-position: center;
    height: 140px; /* Half the total height you desire */
}

.image-section-instructorEdSweeney {
    background-image: url(../images/Ed\ Sweeney.jpeg);
    background-size: cover;
    background-position: center;
    height: 140px; /* Half the total height you desire */
}

.image-section-instructorTrevorLord {
    background-image: url(../images/Trevor\ Lord.jpg);
    background-size: cover;
    background-position: center;
    height: 140px; /* Half the total height you desire */
}

.image-section-instructorTimGuicherd {
    background-image: url(../images/Timothee\ Guicherd.jpg);
    background-size: cover;
    background-position: center;
    height: 140px; /* Half the total height you desire */
}

.image-section-instructorUweHelm {
    background-image: url(../images/Uwe\ Helm.jpeg);
    background-size: cover;
    background-position: center;
    height: 140px; /* Half the total height you desire */
}

.image-section-instructorKambizHajikolaei {
    background-image: url(../images/Kambiz\ Hajikolaei.jpeg);
    background-size: cover;
    background-position: center;
    height: 140px; /* Half the total height you desire */
}

.image-section-instructor {
    background-image: url(../images/);
    background-size: cover;
    background-position: center;
    height: 140px; /* Half the total height you desire */
}




.text-section {
    padding-top: 150px;
    height: 50px;
    width: 100%;
}

.course-card h1 {
    font-size: 16px;
    margin-top: 0;
    color: #333;
}

.course-card p {
    font-size: 14px;
    color: #666;
}

.instructor-item h1 {
    font-size: 16px;
    margin-top: 0;
    color: #333;
}

.instructor-item p {
    font-size: 14px;
    color: #666;
}



.course-list, .instructor-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.course-item, .instructor-item {
    /* background: #eef; */
    /* padding: 15px; */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.review-wrapper{
    width: 100%;
    background-color: #fff;
}


#latestReviews {
    display: flex;
    flex-direction: row; /* Aligns children vertically */
    margin-top: 0;
    width: auto; /* Adjust width as necessary */
}

#latestReviews h2 {
    color: #333;
    font-size: 24px;
    margin: 20px 0 20px;
    padding-top: 20px;
}

#latestReviews article {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 10px; /* Space between articles */
    border: 1px solid #ccc;
    transition: background-color 0.3s;
}

#latestReviews article:hover {
    background-color: #f0f0f0;

}

#latestReviews h3 {
    color: #003c71;
    font-size: 20px;
    margin-bottom: 5px;
    
}

#latestReviews p, #latestReviews span {
    color: #666;
    font-size: 16px;
    margin-bottom: 10px;
}

/* #latestReviews span {
    font-size: 14px;
    color: #333;
    border-bottom: 2px solid yellow;
    display: block; 
} */

.reviewer {
    display: inline-block; /* Makes the div only as wide as its content */
    border-bottom: 2px solid yellow; /* Your desired border */
    padding-bottom: 5px; /* Optional: Adds a little space below the text */
}

.review-wrapper h2{
    padding-top: 20px;
}

/* .reviewer:hover {
    border-bottom: 2px solid #003c71;

} */

#latestReviews article:hover .reviewer {
    border-bottom: 2px solid #003c71; /* Changes the border color to blue on hover */
}


footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px;
    /* position: fixed; */
    bottom: 0;
}

